.dpadContainer {
    display: grid;
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(3, 80px);
    gap: 10px;
    justify-content: center; 
    margin-top: 50px;
}
#up {
    grid-row: 1;
    grid-column: 2;
}

#left {
    grid-row: 2;
    grid-column: 1;
}

#right {
    grid-row: 2;
    grid-column: 3;
}

#down {
    grid-row: 3;
    grid-column: 2;
}

.dpadButton {
    width: 80px;
    height: 80px;
    font-size: 24px;
    font-weight: bold;
    background-color: #454545;
    color: white;
    border: none;
    border-radius: 15px; 
    box-shadow: 0 5px #333333; 
    font-family: Arial, sans-serif; 
    /*  this chunk is to fix mobile stuff like highlighting text
        and double tap delay */
    -webkit-user-select: none;  
    -ms-user-select: none;      
    user-select: none;          
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
    
    
}

.dpadButton:active {
    transform: translateY(3px);
    /*box-shadow: 0 2px #2980b9;*/
}

.telemetryBar {
    text-align: center;
    padding: 10px;
    background-color: #8b8b8b;
    color: white;
}
.safetyButton {
    display: flex;
    justify-content: center; /* Centers horizontally */
    margin-top: 20px;
}

.safetyToggle {
    background-color: #2f6f31; 
    color: white;
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0 4px #255726;
    transition: 0.2s;
    transform: translateY(4px);           
}

.safetyToggle.active {
    background-color: #a73129; 
    box-shadow: 0 4px #a73129;
    transform: translateY(0px);
}