/* 1. Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /* Makes padding easier to manage */
}

body {
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #f4f4f4;
}

/* nav refers to our nav bar*/
nav {
  display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center;     /* centers vertically */
  padding: 1rem 0;
  background-color: #ffffff;
}

/*ul means any item belonging */ 
nav ul {
  display: flex;
  gap: 30px;               /* This adds even space between your links */
  list-style: none;        /* Removes the bullet points */
}

/*MainApp class wraps the entire site, applies these settings to every page automatically */
.MainApp {
  width: 100vw; 
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

/* 2. Layout Wrapper */
.container {
  max-width: 1000px;
  margin: 0 auto; /* Centers the box */
  padding: 0 20px;
} 