/* Allows us to use fonts from Google's servers */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Poppins:wght@500;600;700;800&display=swap');

/* Browser base settings */
:root {
  font-family: 'Inter', sans-serif;
  line-height: 1.6;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Base body styles */
body {
  margin: 0;
  padding: 0;
  background-color: #F3F4F6;
  color: #1f2937;
}